<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./master.css">
  <title>SpotiClaudiofy</title>
</head>
<body>
  <h1>SpotiClaudiofy</h1>
  <div id="root">
    <div class="selection">
      <label class="" for="disks">Select the genre</label>
      <!-- v-model immesso per impostare il filtro in base alla selection selezionata -->
      <select v-model="currentFilter" class="" name="disks"
      placeholder="Seleziona il genere musicale">
        <option value="All">All</option>
        <option value="Rock">Rock</option>
        <option value="Metal">Metal</option>
        <option value="Jazz">Jazz</option>
        <option value="Pop">Pop</option>
      </select>
    </div>
    <!-- <button @click="prova" type="button" name="button"></button> -->
    <div class="container">
      <!-- V-if per impostare il filtro selezionato dal tag select,
       che visualizzerà soltanto i brani che hanno il genre uguale al select -->
      <div v-for= "(disk,i) in sortedDisks(disks)" class="card"
      v-if="disk.genre === currentFilter || currentFilter === 'All' ">
        <div class="img">
          <img class="prova" :src="disk.poster">
          <a class="link" :href="links[i].src">Clicca per ascoltare</a>
        </div>
        <div class="card-title">
          <p>Title: {{disk.title}}</p>
          <span>Author: {{disk.author}}</span>
        </div>
        <div class="card-info">
          <p>Genre: {{disk.genre}}</p>
          <span>Year: {{disk.year}}</span>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./main.js" charset="utf-8"></script>
</body>
</html>
